body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    margin: 0 auto;
    width: 100%;
}

main .title {
    padding: 80px 0 0;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(29,23,51,1) 0%, rgba(57,44,112,1) 100%) no-repeat;
    color: #fff;
}

main .title h1 {
    padding: 25px;
    margin: 0;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

main img {
    display: block;
    margin: 0 auto;
    width: 25%;
    max-width: 500px;
}

main .goal {
    padding: 200px 0;
    text-align: center;
    background: #000;
    color: #fff;
}

main .goal h1 {
    font-size: 30px;
    font-weight: 700;
}

main .content1 {
    position: relative;
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    height: 1050px;
    max-width: 1200px;
    box-sizing: border-box;
}

main .content1 h2 {
    margin: 0;
    color: #28C51A;
}

main .content1 h1 {
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 50px;
    font-weight: 700;
}

main .content1 .iphone {
    display: inline-block;
    position: absolute;
    width: 270px;
    aspect-ratio: 9 / 18.6;
}

main .content1 > div:nth-of-type(1) {
    left: 25%;
    transform: translateY(15%);
}

main .content1 > div:nth-of-type(2) {
    right: 25%;
    transform: translateY(-15%);
}

main .content1 .iphone .iphone-canvas {
    overflow: hidden;
    position: absolute;
    width: 100%;
    aspect-ratio: 9 / 18.6;
    border-radius: 40px;
}

main .content1 .iphone .iphone-canvas img:nth-child(1) {
    position: absolute;
    padding: 7.5px;
    width: 100%;
    box-sizing: border-box;
    animation: auto linear scroll both;
    animation-timeline: scroll(root block);
}

@keyframes scroll {
    20% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(-150%)
    }
}

main .content1 .iphone .iphone-canvas img:nth-child(2) {
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 85%;
    transform: translate(-50%,0);
}

main .content1 .iphone > img {
    position: absolute;
    width: 100%;
    border-radius: 35px;
    box-shadow: -10px 10px 15px 0.5px rgba(44, 38, 72, 0.5);
}

main .content1-sub {
    position: relative;
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    text-align: center;
}

main .content2 {
    position: relative;
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    height: 1250px;
    max-width: 1200px;
    box-sizing: border-box;
    text-align: center;
}

main .content2 h2 {
    margin: 0;
    color: #28C51A;
}

main .content2 h1 {
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 50px;
    font-weight: 700;
}

main .content2 span {
    display: block;
    padding: 50px 0 0 0;
    color: #28C51A;
    font-size: 20px;
    font-weight: 700;
}

main .content2 .iphone {
    display: inline-block;
    position: absolute;
    width: 250px;
    aspect-ratio: 9 / 18.6;
}

main .content2 > div:nth-of-type(1) {
    left: 50%;
    transform: translate(-50%,5%);
}

main .content2 .iphone .iphone-canvas {
    overflow: hidden;
    position: absolute;
    width: 100%;
    aspect-ratio: 9 / 18.6;
    border-radius: 36px;
}

main .content2 .iphone .iphone-canvas img {
    position: absolute;
    padding: 7.5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

main .content2 .iphone .iphone-canvas img:nth-of-type(2) {
    transform: translateY(100%);
    transition: .5s all;
}

main .content2 .iphone:hover .iphone-canvas img:nth-of-type(2) {
    transform: translateY(0%);
}

main .content2 .iphone > img {
    position: absolute;
    width: 100%;
    border-radius: 36px;
    box-shadow: -10px 10px 15px 0.5px rgba(44, 38, 72, 0.5);
}

main .content3 {
    position: relative;
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url(../images/home/nature.webp) no-repeat 50% 50%;
    text-align: center;
    animation: auto linear scroll2 both;
    animation-timeline: scroll(root block);
}

@keyframes scroll2 {
    60% {
        background-size: 0%;
    }
    90% {
        background-size: 100%;
    }
    100% {
        background-size: 100%;
    }
}

main .content3 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main .content3 div h2 {
    margin: 0;
    color: #28C51A;
}

main .content3 div h1 {
    padding: 10px 0 0 0;
    margin: 0;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

main .content3 p {
    color: #fff;
}

main .content4 {
    position: relative;
    padding: 100px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
}

main .content4 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main .content4 div h2 {
    margin: 0;
    color: #28C51A;
}

main .content4 div h1 {
    padding: 10px 0 50px 0;
    margin: 0;
    font-size: 50px;
    font-weight: 700;
}

main .content4 div a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 20px;
    line-height: 25px;
    background: #28C51A;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

main .content4 div a svg {
    padding: 0 5px 0 0;
    width: 25px;
    vertical-align: middle;
}